
<footer class="container-fluid bg-4 text-center" style="margin-top: 1%">
  
<p class="text-center">&copy;Ishop</p>
  </footer>
<script src="//cdn.ckeditor.com/4.14.1/standard/ckeditor.js"></script>
<script src="/js/main.js"></script>